html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: unset !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

* {
  box-sizing: border-box;
}

input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}

/* START LANDING PAGE */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 150px;
}

nav h1 {
  font-weight: 700;
  font-size: 29px;
  color: #06283d;
}

nav div {
  display: flex;
}

nav div .login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  text-decoration: none;
  border: 2px solid #06283d;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  min-width: 120px;
  max-height: 48px;
  padding: 11px 36px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: #06283d;
}

nav div .signup {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #06283d;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  min-width: 120px;
  max-height: 48px;
  padding: 11px 36px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 150px;
}

header div {
  margin-left: 30px;
}

header div h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
  max-width: 474px;
  text-align: start;
}

header div h1 span.tagline {
  color: #06283d;
}

header div p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
  max-width: 428px;
}

header div .try-it {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #06283d;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  min-width: 173px;
  min-height: 57px;
  padding: 16px 45px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

header div span.text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: #3a3d42;
  margin-bottom: 27px;
}

header div img.google {
  margin-right: 44px;
}

section.clients {
  display: flex;
  justify-content: space-between;
  padding: 105px 150px;
  background-color: rgba(71, 58, 209, 0.06);
  flex-wrap: wrap;
}

section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 150px;
  background-color: #e5e5e5;
}

section.about h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #06283d;
  text-align: center;
}

section.about h1 span {
  color: #3a3d42;
}

section.about p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
  max-width: 567px;
}

section.about div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.about div .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 366px;
  box-shadow: 0px 4px 250px rgba(172, 172, 172, 0.15);
  border-radius: 25px;
  padding: 40px 30px 50px;
}

section.about div .container.main {
  background-color: #ffffff;
}

section.about div .container .icon {
  background-color: rgba(71, 58, 209, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 18px;
  color: #06283d;
  margin-bottom: 20px;
}

section.about div .container h3 {
  font-weight: 700;
  font-size: 24px;
  color: #3a3d42;
  margin-bottom: 30px;
}

section.about div .container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: rgba(58, 61, 66, 0.9);
}

section.features {
  display: flex;
  align-items: center;
  padding: 30px 150px;
  background-color: #473ad10f;
}

section.features div h1 {
  font-weight: 800;
  font-size: 60px;
  color: #3a3d42;
  text-align: center;
}

section.features div h1 span {
  color: #06283d;
}

section.features div .container {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 30px;
}

section.features div .container div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0;
}

section.features div .container div span {
  margin-right: 15px;
  font-weight: 700;
  font-size: 22px;
  color: #06283d;
  padding: 0;
}

section.features div .container div h5 {
  font-weight: 700;
  font-size: 20px;
  color: #3a3d42;
  margin: 0;
  padding: 0;
}

section.features div .container p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(58, 61, 66, 0.9);
  margin: 0;
  padding: 0;
}

section.users {
  background-color: #e5e5e5;
  padding: 130px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.users h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
}

section.users h1 span {
  color: #06283d;
}

section.users p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
  max-width: 567px;
}

section.users div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section.users div a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3a3d42;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  box-shadow: 0px 5px 70px rgba(149, 148, 148, 0.15);
  border-radius: 50%;
  border-color: inherit;
}

section.users div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
  border-radius: 30px;
  padding: 60px;
  margin-top: 60px;
  margin-left: 46px;
  margin-right: 46px;
}

section.users div div img {
  margin-bottom: 30px;
}

section.users div div h5 {
  font-weight: 700;
  font-size: 26px;
  color: #373c46;
  padding: 0;
  margin-bottom: 0;
}

section.users div div .profesion {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #56585b;
  margin-top: 9px;
}

section.users div div .testimony {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #676a71;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  background-color: #06283d !important;
  padding: 80px 150px;
}

footer h4 {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(239, 239, 239, 0.75);
  max-width: 285px;
}

footer hr {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer div div p:first-child {
  margin-right: 40px;
}
@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 55px 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-bottom: 100px;
  }

  header img.mobile-display {
    max-width: 70vw;
    margin: 0 auto;
  }

  header div h1 {
    text-align: center;
  }

  section.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(71, 58, 209, 0.06);
    flex-wrap: wrap;
  }

  section.clients img {
    width: 100px;
    margin: 50px;
  }

  section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    background-color: #e5e5e5;
  }

  section.about div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
  }

  section.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #473ad10f;
  }

  section.features img {
    max-width: 70vw;
    margin: auto;
    text-align: center;
  }

  section.about div .container.main {
    order: -1;
  }

  section.users {
    padding: 30px;
  }

  section.users h1 {
    text-align: center;
  }

  section.users div div {
    order: -1;
    margin: 0;
  }

  section.users div div {
    text-align: center;
  }

  section.users div {
    justify-content: space-between;
  }

  section.users div a {
    margin: 30px 50px;
  }

  footer {
    padding: 30px;
  }

  footer div {
    display: flex;
    flex-direction: column;
  }

  footer div div p:first-child {
    margin-bottom: 0;
  }

  footer div div p:nth-child(2) {
    margin-top: 0;
  }
}

/* END LANDING PAGE */

.button-fw9 {
  cursor: pointer;
  border: unset;
  background-color: transparent;
}

a.link-dasboard {
  cursor: pointer !important;
}

.intro {
  background-image: url('/bg-intro.png');
  padding: 30px 100px 30px;
}

.fw-motto {
  font-size: 24px;
  font-weight: 700;
}

.fw9-profile-pict {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  object-fit: cover;
}

.fw-form {
  padding: 30px 150px 30px 70px;
}

.fw-margin {
  margin-top: 115px;
}

.input-group-text {
  background-color: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
  color: #a9a9a999;
}

.form-control {
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #a9a9a999;
  background-color: unset;
}

.form-control:focus {
  box-shadow: unset;
}

.fw-button .login {
  margin-top: 90px;
  background-color: #06283d;
}

.fw-forgot-pw a {
  font-size: 14px;
  font-weight: 600;
  color: #3a3d42cc;
}

.fw-login-btn {
  /* color: #88888f; */
  font-weight: 700;
  font-size: 18px;
  background-color: #06283d;
  border: unset;
}

.fw-login-btn:hover {
  background-color: #0a476d;
}

/*START MAIN STYLE */
.pages {
  padding: 40px 150px;
}

.fw9-menu-list {
  min-height: 678px;
  text-decoration: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 40px;
}

.fw9-menu {
  font-weight: 400;
  font-size: 18px;
}

footer {
  padding: 40px 150px;
}
/*END MAIN STYLE */

/* START DASHBOARD STYLE  */
.fw9-dashboard {
  height: 100%;
  /* display: flex; */
}

.fw9-balance {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  border-radius: 20px;
}

.fw9-container-digram {
  height: 100%;
}

.fw9-diagram {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 40px;
  min-height: fit-content;
}

.fw9-transaction-history {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 30px;
}

.fw9-main {
  width: 100%;
}
/* END DASHBOARD STYLE  */

/* START SEARCH RECEIVER */
.fw9-search-receiver {
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); */
  padding: 30px;
  height: fit-content;
}
/* END SEARCH RECEIVER */

/* START INPUT AMOUNT */
.fw9-input-amount {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.fw9-input-money {
  border-bottom: 0;
}

.button-input-money {
  justify-self: end;
}
/* END INPUT AMOUNT */

/* START SUCCESS PAGE */
.status-success {
  padding: 30px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}
/* END SUCCESS PAGE */

/* START PROFILE PAGE */
.profile-page {
  padding: 50px 120px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}

.main-profile-pict {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.card-profile {
  cursor: pointer;
}
/* END PROFILE PAGE */

/* START PERSONAL INFO */
.personal-info {
  padding: 50px 30px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}

.card-pesonal-info {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}
/* END PERSONAL INFO */

input .image-input {
  border: none; /* Removes the default border */
}

input:focus .image-input {
  outline: none; /* Removes the border when the input is clicked */
}

@media only screen and (max-width: 768px) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  .fw-form {
    padding: 30px 100px;
  }

  .pages {
    padding: 40px 20px;
  }

  .profile-page {
    padding: 30px 30px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  }

  footer {
    padding: 40px 20px;
  }
}
